%h1 
  Current Listings
  = link_to 'New Listing', new_user_listing_path(@user), class: "btn btn-primary"

.row
  - @listings.each do |listing|
    = render partial: "listings/index/listing", locals: {listing: listing}

= render partial: 'listings/index/payment_form'