.row-fluid
  .col-md-12
    %h1 Create a new listing
.clearfix
.row-fluid
  .col-md-6
    = render 'form'
.clearfix
.row-fluid
  .col-md-12.well
    = link_to 'Back to Listings', user_listings_path(@user), {class: 'btn btn-default'}