%head
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
  =content_for :title, @listing.title

#listing_site
  .jumbotron.textured-backgound
    .text-center.img-center
      %h2= @listing.title
        
      =render 'listings/show/details_banner'
      %h3= @listing.full_address
      =render 'listings/show/video'
      
  .dark-textured-background
    .container
      .row
        .col-md-12
          %br
          =render 'listings/show/photos'
          =render 'listings/show/info'
          =render 'listings/show/map'
          =render 'listings/show/mobile_contact'
          =render 'listings/show/contact_footer'

  =render 'listings/show/footer'