%nav.navbar.navbar-default.square
  .container
    %ul.nav-justified.nav
      %li
        <strong>Price: </strong>
        %br
        = number_to_currency(@listing.price, precision: 0)
      %li
        <strong>Bedrooms: </strong>
        %br
        = @listing.bedrooms
      %li
        <strong>Bathrooms: </strong>
        %br
        = @listing.bathrooms
      %li
        <strong>Sq Ft: </strong>
        %br
        = @listing.sq_ft
