%nav.navbar.navbar-default.square.navbar-danger
  .container
    %ul.nav-justified.nav
      %li
        Price
        = @listing.price
      %li
        Bedrooms
        = @listing.bedrooms
      %li
        Bathrooms
        = @listing.bathrooms
      %li
        Square Feet
        = @listing.sq_ft
        