%nav.navbar.navbar-default.square
  .container
    %ul.nav-justified.nav.lead
      %li
        Price
        %br
        %strong= number_to_currency(@listing.price, precision: 0)
      %li
        Bedrooms
        %br
        %strong= @listing.bedrooms
      %li
        Bathrooms
        %br
        %strong= number_to_human @listing.bathrooms, strip_insignificant_zeros: true
      %li
        Sq Ft
        %br
        %strong= number_with_delimiter @listing.sq_ft
