.panel.panel-default
  .panel-heading
    %h2#info
      Description
  .panel-body
    .lead
      = simple_format(@listing.short_description, wrapper_tag: "p")
    .well
      = simple_format(@listing.description, wrapper_tag: "p") 
        
