.hidden-xs
  %iframe{width: "640", height:"360", src: "//www.youtube.com/embed/yxO7QqpNjNk", frameborder: "0", allowfullscreen: ""}
.visible-xs
  %iframe{width: "250", height:"140", src: "//www.youtube.com/embed/yxO7QqpNjNk", frameborder: "0", allowfullscreen: ""}