- if @listing.video_link.present?
  .hidden-xs
    #video_container
      .desktop-video
        = @listing.video_link_html
  .visible-xs
    #video_container
      .phone-video
        = @listing.video_link_html

- elsif @key_photo.present?
  #key_photo_container.img-thumbnail
    =image_tag(image_url("#{@cdn_url}/#{@key_photo}"), class: 'img-responsive')