- if @listing.video_link.present?
  .embed-container#video_container
    = @listing.video_link_html
- elsif @key_photo.present?
  .embed-container#video_container
    =image_tag(image_url("#{@cdn_url}/#{@key_photo}"))