<!DOCTYPE html>
%head

%body
  %input{type: 'hidden', value: 'http://testing-sites.realtorminis.com/2403-rockefeller-lane-unit-c.html', name: '2403rockefellerlanea.com'}


  = javascript_include_tag 'manifest'