<form action="https://authorize.payments-sandbox.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="ipnUrl" value="https://www.realtorminis.com/user/1/account/accept_payment" >
  <input type="hidden" name="amount" value="USD 10" >
  <input type="hidden" name="processImmediate" value="1" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="isDonationWidget" value="0" >
  <input type="hidden" name="description" value="Reale Esatate Listing Website" >
  <input type="hidden" name="amazonPaymentsAccountId" value="MYEFWMEXTXVJ2FQBXUA2SQZ49PPLLCB9FAHM1A" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="signature" value="RRY0I/trYZKcOB1fyYPhuNqssnE8vXP9Dd1siXAO6Xo=" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/golden_small_paynow_withlogo_whitebg.gif" border="0">
</form>