<form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post">
  <input type="hidden" name="returnUrl" value="http://realtorminis.com/confirmation-solo" >
  <input type="hidden" name="processImmediate" value="0" >
  <input type="hidden" name="signatureMethod" value="HmacSHA256" >
  <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
  <input type="hidden" name="collectShippingAddress" value="0" >
  <input type="hidden" name="amazonPaymentsAccountId" value="MVREWRSNWDND5DKK285TKPK7JRA2JCJ3XX9TJS" >
  <input type="hidden" name="cobrandingStyle" value="logo" >
  <input type="hidden" name="immediateReturn" value="1" >
  <input type="hidden" name="amount" value="USD 12.95" >
  <input type="hidden" name="recurringFrequency" value="1 month" >
  <input type="hidden" name="description" value="Realtor Minis Subscription - Solo Plan" >
  <input type="hidden" name="abandonUrl" value="http://realtorminis.com/second-chance" >
  <input type="hidden" name="noOfPromotionTransactions" value="1" >
  <input type="hidden" name="signatureVersion" value="2" >
  <input type="hidden" name="promotionAmount" value="USD 6.50" >
  <input type="hidden" name="signature" value="W+PchcIf6aSg0O7W8JXXzj0L4FDSY1KzPPX40O+j1ag=" >
  <input type="image" src="http://g-ecx.images-amazon.com/images/G/01/asp/beige_small_paynow_withmsg_whitebg.gif" border="0">
</form>