/ To be used with Javascript-Templates (see: https://github.com/blueimp/JavaScript-Templates)
/ The template to display files that have been uploaded to S3 already
%script#template-uploaded{:type => "text/x-tmpl"}
  %tr.template-uploaded{:id => "photo_{%=o.id%}", data: {object_id: "{%=o.id%}"}}
    %td
      %span.preview
        {% if (o.image == true) { %}
        %a{:download => "{%=o.name%}", :href => "{%=o.url%}", :title => "{%=o.name%}", :"data-gallery" => ''}
          %img{:src => "{%=o.url%}", :style => 'width:80px;'}
        {% } %}
    %td
      %i.photo-handle.glyphicon.glyphicon-resize-vertical
    %td
      %p.name
        {% if (o.url) { %}
        %a{:href => "{%=o.url%}", :title => "{%=o.name%}", :download => "{%=o.name%}", :"data-gallery" => !"{%= o.image ? 'true' : '' %}".html_safe.empty? && ''} {%=o.name%}
        {% } else { %}
        %span {%=o.name%}
        {% } %}
    %td
      %span.size {%=formatFileSize(o.size)%}
    %td
      {% if (o.delete_url) { %}
      = link_to 'Delete', "{%=o.delete_url%}", method: :delete, remote: true, class: 'delete-photo btn btn-danger delete', data: {confirm: "Are you sure"}
      {% } %}
          
