// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.small_input {
  width:20%;
}

.profile-pic {
  width: 140px;
  padding-bottom: 20px;
}

.logo {
  width: 140px;
  padding-bottom: 20px;
}

.padding-top-20 {
  padding-top: 20px;
}

iframe.wysihtml5-sandbox {
  width: 100% !important;
}

.user_remember_me {
  display: inline-block;
  .controls {
    display: inline-block;
    margin-left: 30px;
    min-height: 25px;
  } 
}