#payment_details_modal.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %button.close{ type:"button", aria: {label:"Close"}, data: {dismiss:"modal"}}
          %span{aria:{hidden:"true"}} &times;
        %h4.modal-title Payment Details
      .modal-body
        Loading...
      .modal-footer
        %button.btn.btn-default{type: "button", data: {dismiss: "modal"}} Close





